/* You can add global styles to this file, and also import other style files */
//Variables

//imports
@import "../node_modules/bootstrap/scss/bootstrap.scss"; //Bootstrap
@import "./assets/scss/sb-admin-2.scss";

//Own code

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
